.products-section {
    padding: 60px 40px;
}

.sort-product-header {
    padding: 10px 0;
}

.sort-product-header input {
    background-color: var(--app-no-color);
    padding: 10px 0 10px 10px;
    width: 200px;
    margin-left: 5px;
    border: 2px solid var(--app-gray);
    border-radius: 5px;
}

.filter-dropdown {
    cursor: pointer;
    position: relative;
    border: 2px solid var(--app-gray);
    border-radius: 5px;
}

.filter-dropdown select {
  border: none;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-color: var(--app-no-color);
  height: 36px;
  width: 170px;
  text-align: center;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 10px;
    gap: 20px;
    max-height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 10px;
}

.product-h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #333;
  text-align: center;
}

