.sort-product-header {
    padding: 10px 0;
}

.sort-product-header input {
    background-color: var(--app-no-color);
    padding: 10px 0 10px 10px;
    width: 200px;
    margin-left: 5px;
    border: 1px solid var(--app-gray);
    border-radius: 5px;
}

.filter-dropdown {
    cursor: pointer;
    position: relative;
}

.filter-dropdown select {
  border: none;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 110px;
  cursor: pointer;
  background-color: var(--app-no-color);
  height: 36px;
  width: 146px;
  text-align: center;
}

.filter-dropdown i {
    position: absolute;
    right: 0;
    z-index: -1;
}

/*Display List*/
.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 10px;
    gap: 10px;
    height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
}