header .container {
    height: 70px;
}

header ul {
    display: flex;
    gap: 20px; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

header ul li a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
