:root {
    --app-black: #141414;
    --app-white: #fff;
    --app-gray: #e0e0e0;
    --app-no-color: #00000000;
    --app-light-gray: #565656;
    /*my product page color*/
    --app-brown: #A77B4D;
    --light-background: #ffffff;
    --light-gray: #f7f7f7;
    --text-dark: #333;
    --text-light: #777;
    --highlight: #FFD700;
}

.logo {
     font-family: "Berkshire Swash", serif;
     color: var(--app-brown);
}

.container {
    width: min(100% - 20px, 1400px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.border-rad-5 {
    border-radius: 5px;
}

.border-bottom-black {
    border-bottom: 1px solid var(--app-black);
}

.border-bottom-gray {
    border-bottom: 1px solid var(--app-gray);
}

.section-break {
    padding: 60px 0;
}