:root {
    --app-black: #000;
    --app-white: #fff;
    --app-brown: #f8e2c6;
    --app-gray: #e0e0e0;
    --app-no-color: #00000000;
    --app-font-color:	#fff;
    --app-hover-cover: 	#E85D00;
    --app-button-color: #FF6B00;
}

.container {
    width: min(100% - 20px, 1400px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.border-rad-5 {
    border-radius: 5px;
}

.border-bottom-black {
    border-bottom: 1px solid var(--app-black);
}

.border-bottom-gray {
    border-bottom: 1px solid var(--app-gray);
}
